body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.super{
    display: grid;
    grid-template-rows: auto auto auto;
    min-height: 90vh;
    align-items: center;
    gap: 1rem;
    justify-items: center;
}

.container{
    border: 2px solid rgba(255, 255, 255, 0.425);
    padding: 1rem 2rem;
    width: 50%;
    container-name: post;
    container-type: inline-size;
}

.container.narrow{
    max-width: 200px;
}

.container.medium{
    max-width: 400px;
}

.container.wide{
    max-width: 500px;
}

.container > p{
    opacity: .8;
    background-color: orange;
    padding: .5rem .7rem
}

@container post (width > 275px){
    p{
        background-color: hsl(150, 20%, 20%) !important;
    }
} 

@container post (width > 400px){
    p{
        background-color: hsl(0, 49%, 34%) !important;
    }
}

article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}
.call-to-action{
    background-color: hsl(240, 20%, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em 1em;
    container-type: inline-size;
}

@container (inline-size <= 500px){
    .call-to-action > *{
        grid-column: 1/4 !important;
    }
    .call-to-action > .btn{
        grid-row-start: 3;
        justify-self: stretch;
    }
}

@media (max-width: 500px){
    article{
        grid-template-columns: 1fr;
    }
}

.call-to-action > :not(.btn){
    grid-column: 1/2;
}

.btn{
    border: none;
    border-radius: 10em;
    padding: .5rem 2rem;
    background-color: hsl(240, 50%, 50%);
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}