html{
    font-family: Oswald;
    background-color: #E1D89F;
}

header{
    background-color: #27474E;
    margin-inline: auto;
    max-width: 600px;
    min-height: 300px;
    padding: 2%;
}

div{
    background-color: hsl(0, 50%, 80%);
    margin-bottom: 2rem;
    padding: .7rem 1rem;
}

div:first-child{
    width: 500px;
    max-width: 100%; 
}

div:nth-child(2){
    width: 100%;
    max-width: 500px;
}